<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="../../../assets/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../../../assets//materialize//fonts/material-icons.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>
<body>
    <div class="loader valign-wrapper hidden">
        <div class="row">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../../../assets/img/logo.jpg">
                </div>
                    
                <a><img class="circle" src="../../../assets/img/profil.jpg"></a>
                <a><span class="white-text name">Łukasz Kosmaty</span></a>
                <a><span class="white-text email">kosmatylukasz@gmail.com</span></a>
            </div>
        </li>
        <li>
            <a class="game-trigger" data-game="gravity"><i class="material-icons">star_border</i>GRAVITY</a>
        </li>
        <li>
            <a class="game-trigger" data-game="move"><i class="material-icons">compare_arrows</i>MOVE</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="subheader">Subheader</a>
        </li>
        <li>
            <a class="waves-effect" href="#!">Third Link With Waves</a>
        </li>
    </ul>

    <nav class="nav">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo left"><i class="material-icons">cloud</i>Logo</a>
            <ul class="right">
                <!-- <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a href="#"><i class="material-icons">view_module</i></a></li> -->
                <li><a href="#" class="lang-trigger"><i class="material-icons">language</i></a></li>
                <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
                <li><a href="#" class="close-trigger"><i class="material-icons">close</i></a></li>
            </ul>
        </div>
    </nav>

    <!-- page content -->
    <div id="main"></div>
   
</body>
    <!-- 3rd-party libraries include  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="../../../assets/jquery/jquery.min.js"></script>
        <script src="../../../assets/materialize/js/materialize.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    
    <!-- This frame js -->
    <script src="mainView.js"></script>

</html>