html,body{ 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.sidenav-trigger{
    display: block!important;
}

.nav{
    background: #2C3E50;
}

.nav .brand-logo{
    padding-left: 20px;
}


#main{
    position: absolute;
    left: 0;
    top: 64px;
    right: 0;
    bottom: 0;

}