html,body{ 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidenav-trigger{
    display: block!important;
}

.nav{
    background: #2C3E50;
}

.nav .brand-logo{
    padding-left: 20px;
}

#main{
    position: absolute;
    left: 0;
    top: 64px;
    right: 0;
    bottom: 0;

}

.red-text{
    color: #E74C3C!important;
}

.dark-text{
    color: #2C3E50!important;
}

.white-text{
    color: #ECF0F1!important;
}

.game-trigger:hover{
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(44, 62, 80, 1);
    opacity: 1;
    transition: all .8s ease-in-out;
    visibility: visible;
}

.loader.hidden{
    opacity: 0;
    visibility: hidden;
}